.about {
	@include content-styling;
	background: rgba(160, 233, 211, 0.103);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	// backdrop-filter: blur(6px);
	// -webkit-backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: $main-font;
}
.about__container {
	background: rgba(160, 233, 211, 0.103);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 7, 0.493);
	width: 500px;
	padding: 40px;
	border-radius: 10px;
	h1 {
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
		font-size: 70px;
		margin: 0;
		color: rgba(160, 233, 211, 0.288);
	}
	p {
		font-size: 25px;
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
	}
}

.about__me {
	background: rgba(160, 233, 211, 0.103);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 7, 0.493);
	width: 500px;
	padding: 40px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: 40%;
		border-radius: 50%;
		background-color: blue;
		margin-bottom: 20px;
		border: 5px solid white;
	}
	.about__interests {
		border-radius: 10px;
		padding: 10px;
		background-color: rgba(5, 2, 2, 0.432);
		width: 100%;
		.icon {
			width: 100px;
			height: 100px;
			background-color: transparent;
			color: red;
			border: none;
		}
		.interests {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}
