.about {
	@include content-styling;
	@include content-grid-stepup;
	background: $main-blurColor;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 10px;
	font-family: $main-font;
	height: 100%;
}

.about__header {
	@include content-glass-style;
	@include header-container;

}
.about__container {
	@include content-glass-style;
	padding: 40px;
	h1 {
		@include title-h1-style;
	}
	p {
		@include body-p-style;
	}
}

.about__me {
	@include content-glass-style;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: 40%;
		border-radius: 50%;
		background-color: blue;
		margin-bottom: 20px;
		border: 5px solid white;
	}
	.about__interests {
		border-radius: 10px;
		padding: 10px;
		background-color: rgba(5, 2, 2, 0.432);
		width: 100%;
		.icon {
			width: 100px;
			height: 100px;
			background-color: transparent;
			color: red;
			border: none;
		}
		.interests {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}
