.about {
	@include glass-styling;
	@include right-side-structure;
	border-radius: 0;
}
.about__header {
	@include glass-styling;
	@include page-header-structure;
}
.about__grid {
	height: 90%;
	padding-top: 20px;

	.about__item {
		padding-right: 0;
		padding-left: 10px;
		h1 {
			@include bodyTitle-style;
		}
		p {
			font-size: $bodyText-large-screen;
		}
	}
	.about__item:first-child {
		padding-left: 0px;
		padding-right: 10px;
	}
	.about__info {
		p {
			animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
		}
	}
}
.item__container {
	@include glass-styling;
	height: 100%;
	padding: 30px 3vw;
}

.about__me {
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: 40%;
		border-radius: 50%;
		border: 5px solid white;
	}
	.about__interests {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		p {
			margin: 0;
			text-align: center;
		}

		.interests {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.icon__container {
				// @include content-glass-style;
				border: 2px solid lightblue;
				border-radius: $border-radius;
				background: $icon-bgColor;
				width: 8vw;
				height: 8vw;
				padding: 10px;
				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
					border: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.about__item {
		p {
			font-size: $bodyText-middle-screen !important;
		}
	}
}

@media only screen and (max-width: 960px) {
	.about {
		height: auto;
	}
	.about__header {
		height: 120px;
		h1 {
			font-size: $h1-small-screen;
		}
	}
	.about__item {
		padding: 0 !important;

		h1 {
			font-size: $bodyTitle-small-screen !important;
		}
		p {
			font-size: $bodyText-small-screen !important;
		}
	}
	.about__item:first-child {
		padding-bottom: 20px !important;
	}
	.item__container {
		padding: 30px 5vw;
	}

	.interests {
		margin-top: 30px;
		.icon__container {
			width: 15.5vw !important;
			height: 15.5vw !important;
		}
	}
}
