$right-side-width: 0.85;
$left-side-width: 0.15;

@-webkit-keyframes flip-in-hor-bottom {
	0% {
		-webkit-transform: rotateX(80deg);
		transform: rotateX(80deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		opacity: 1;
	}
}
@keyframes flip-in-hor-bottom {
	0% {
		-webkit-transform: rotateX(80deg);
		transform: rotateX(80deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		opacity: 1;
	}
}

.app {
	display: flex;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
}
.app::-webkit-scrollbar {
	display: none;
}

@import './Sidebar.scss';
@import './Home.scss';
@import './About.scss';
@import './Contact.scss';
@import './Skills.scss';
@import './Work.scss';
