$right-side-width: 0.88;
$left-side-width: 0.12;
$glass-lightPink: rgba(232, 160, 233, 0.15);
$glass-brightPink: rgb(246, 32, 250);
$highlight-icon: rgb(246, 133, 248);
$main-font: 'Russo One', sans-serif;
$main-bgColor: rgb(1, 12, 39);
$main-blurColor: rgba(219, 181, 238, 0.171);
$main-titleColor: rgb(199, 209, 255);
$main-highlightBlue: rgb(0, 238, 255);

@import './Mixins.scss';
* {
	box-sizing: border-box;
}
html {
	background-color: rgb(1, 12, 39);
}

.app {
	display: grid;
	grid-template-columns: 15% 85%;
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
}
.shrink {
	grid-template-columns: 100%;
}
::-webkit-scrollbar {
	display: none;
}
.app__rightSide {
	box-sizing: border-box;
	position: relative;
	height: 100%;
	// margin-left: 10px;
}

@import './BgAnimation.scss';
@import './KeyFrames.scss';
@import './Transitions.scss';
@import './Sidebar.scss';
@import './burgerMenu.scss';
@import './Home.scss';
@import './About.scss';
@import './Contact.scss';
@import './Skills.scss';
@import './Work.scss';
@import './Project.scss';
