$right-side-width: 0.88;
$left-side-width: 0.12;
$glass-lightPink: rgba(232, 160, 233, 0.15);
$glass-brightPink: rgb(246, 32, 250);
$highlight-icon: rgb(246, 133, 248);
$main-font: 'Russo One', sans-serif;

@mixin content-styling {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	color: white;
}

.app {
	display: flex;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	background-color: rgb(2, 17, 58);
	padding: 20px;
}
.app::-webkit-scrollbar {
	display: none;
}
.app__rightSide {
	flex: $right-side-width;
	position: relative;
	height: 100%;
}

@import './KeyFrames.scss';
@import './Transitions.scss';
@import './Sidebar.scss';
@import './Home.scss';
@import './About.scss';
@import './Contact.scss';
@import './Skills.scss';
@import './Work.scss';
