@import './Globals.scss';
@import './Mixins.scss';
* {
	box-sizing: border-box;
}
html {
	background-color: rgb(1, 12, 39);
}

.app {
	display: grid;
	grid-template-columns: 15% 85%;
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
}
.shrink {
	grid-template-columns: 100%;
}
::-webkit-scrollbar {
	display: none;
}
.app__rightSide {
	box-sizing: border-box;
	position: relative;
	height: 100%;
}

@import './BgAnimation.scss';
@import './KeyFrames.scss';
@import './Transitions.scss';
@import './Sidebar.scss';
@import './burgerMenu.scss';
@import './Home.scss';
@import './About.scss';
@import './Contact.scss';
@import './Skills.scss';
@import './Work.scss';
@import './Project.scss';
