.burgerMenu {
	background-color: #02052e;
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0px;
	right: -75px;
	z-index: 10;
	width: 75px;
	height: 75px;
	display: none;
	color: lightblue;
}

.flip {
	svg {
		animation: rotate-180-ccw 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
}
