.contact {
	@include content-styling;
	background: $main-blurColor;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 10px;
	font-family: $main-font;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 90%;
	padding: 15px;
	.contact__header {
		@include content-glass-style;
		margin-bottom: 10px;
		padding-left: 3%;
		text-transform: capitalize;
		text-align: center;
		font-style: italic;
	}
	.contact__formContainer {
		@include content-glass-style;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.formHeader {
			width: 50%;
			h1 {
				font-size: 70px;
				margin: 0;
				color: $main-titleColor;
			}
			p {
				font-size: 20px;
			}
		}
		form {
			border: 2px solid red;
			border-radius: 10px;
			height: 40%;
			width: 50%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 3fr 1fr;
			grid-gap: 10px;
			textarea {
				padding-top: 10px;
				resize: none;
			}
			input,
			textarea {
				border: none;
				border-radius: 10px;
				padding-left: 15px;
				font-family: $main-font;
			}
			input:focus,
			textarea:focus {
				outline: none;
			}
			input::placeholder,
			textarea::placeholder {
				color: $main-titleColor;
			}
			input:nth-child(3),
			textarea,
			button {
				grid-column: 1/3;
			}
			button {
				border: 2px solid rgba(0, 238, 255, 0.432);
				border-radius: 10px;
				font-size: 18px;
				font-family: $main-font;
				background-color: rgba(0, 238, 255, 0.432);
				color: white;
				box-shadow: 0 4px 16px 0 rgba(0, 0, 7, 0.493);
				transition: all 200ms;
			}
			button:hover {
				background-color: white;
				color: rgba(0, 238, 255, 0.432);
			}
		}
	}
}

.spinner {
	background-color: $main-blurColor;
	height: 40%;
	width: 50%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
