$right-side-width: 0.88;
$left-side-width: 0.12;
$glass-lightPink: rgba(232, 160, 233, 0.15);
$glass-brightPink: rgb(246, 32, 250);
$highlight-icon: rgb(246, 133, 248);
$main-font: 'Russo One', sans-serif;
$main-bgColor: rgb(1, 12, 39);
$main-blurColor: rgba(219, 181, 238, 0.171);
$main-titleColor: rgb(199, 209, 255);
$main-highlightBlue: rgb(0, 238, 255);
$border-radius: 10px;

// <----------------- Response heights and widths ---------------------------->
$intro-large-screen: 5vw;
$intro-small-screen: 7vw;

$name-large-screen: 9vw;
$name-small-screen: 12vw;

$bodyText-large-screen: 1.5vw;
$bodyText-middle-screen: 2vw;
$bodyText-small-screen: 2.5vw;

$h1-large-screen: 2.5vw;
$h1-small-screen: 5vw;

$icon-large-screen: 6vw;
$icon-middle-screen: 8vw;
$icon-small-screen: 13vw;
