$right-side-width: 0.88;
$left-side-width: 0.12;

//<---------- colors ------------->

$main-bgColor: rgb(1, 12, 39);
// $main-blurColor: rgba(219, 181, 238, 0.171);
$main-blurColor: rgba(70, 24, 95, 0.171);
$main-titleColor: rgb(199, 209, 255);
$main-highlightBlue: rgb(0, 238, 255);
$glass-lightPink: rgba(232, 160, 233, 0.15);
$glass-brightPink: rgb(246, 32, 250);
$highlight-icon: rgb(246, 133, 248);
$icon-bgColor: rgba(0, 0, 0, 0.685);
$component-glass-bg: rgba(84, 0, 87, 0.089);

// <------------- common varibles -------------------------->

$main-font: 'Russo One', sans-serif;
$border-radius: 10px;

// <----------------- Response heights and widths ---------------------------->
$intro-large-screen: 5vw;
$intro-small-screen: 7vw;

$name-large-screen: 9vw;
$name-small-screen: 12vw;

$bodyText-large-screen: 1.5vw;
$bodyText-middle-screen: 2vw;
$bodyText-small-screen: 2.5vw;
$bodyText-Xsmall-screen: 4vw;

$h1-large-screen: 2.5vw;
$h1-small-screen: 5vw;

$bodyTitle-large-screen: 5.5vw;
$bodyTitle-middle-screen: 7vw;
$bodyTitle-small-screen: 10vw;

$icon-large-screen: 7vw;
$icon-middle-screen: 8vw;
$icon-small-screen: 12vw;

$work-grid-padding: 20px;

$sidebarIcon-large: 1.75vw;
$sidebarIcon-small: 3vw;
$sidebarIcon-Xsmall: 5vw;

//<----------------------------Work Component --------------------------------->
$cardTitle-large-screen: 2.5vw;
$cardTitle-small-screen: 5vw;

$cardBody-large-screen: 1.1vw;
$cardBody-small-screen: 3vw;

$cardTools-large-screen: 1.7vw;
$cardTools-small-screen: 3.8vw;

$cardIcon-large-screen: 5.5vw;
$cardIcon-small-screen: 12vw;

$cardButton-large-screen: 1.2vw;
$cardButton-small-screen: 3vw;

$cardImg-height-large: 350px;
$cardImg-height-medium: 250px;
$cardImg-height-small: 300px;

//<--------------------Project Component ----------------->
$projectTitle-large: 1.3vw;
$projectTitle-medium: 1.3vw;
$projectTitle-small: 1.6vw;
$projectTitle-Xsmall: 2.9vw;

$projectBody-large: 0.9vw;
$projectBody-medium: 0.8vw;
$projectBody-small: 01.1vw;
$projectBody-Xsmall: 01.9vw;

$projectList-large: 1vw;
$projectList-medium: 1vw;
$projectList-small: 1.3vw;
$projectList-Xsmall: 2.4vw;

// <---------------------Contact Component --------------------------->
$form-width-max: 1200px;
$form-width-large: 70vw;
$form-width-medium: 60vw;
$form-width-small: 80vw;

$formTitle-large-screen: 4.5vw;
$formTitle-medium-screen: 4vw;
$formTitle-small-screen: 6.5vw;

$formBody-large-screen: 1vw;
$formBody-medium-screen: 1.2vw;
$formBody-small-screen: 2.5vw;
