.home {
	@include content-styling;
	background: $main-blurColor;
	border: 1px solid rgba(255, 255, 255, 0.18);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.home__header {
	margin-left: 10%;
	font-family: $main-font;
	text-align: center;
	margin: 0 auto;

	h2 {
		font-size: $intro-large-screen;
		margin: 0;
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
	}
	h1 {
		font-size: $name-large-screen;
		color: red;
		margin-bottom: -10px;
	}

	p {
		margin: 0;
		margin-bottom: 30px;
		font-size: $bodyText-large-screen;
		font-style: italic;
		color: $main-titleColor;
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
	}
	span {
		color: $main-highlightBlue;
	}
}
.home__contact {
	margin: 30px auto;
	padding: 10px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $highlight-icon;
	border-radius: 30px;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
	background-color: rgba(0, 238, 255, 0.432);
	border: 2px solid rgba(0, 238, 255, 0.432);
	backdrop-filter: blur(40px);
	color: rgba(255, 255, 255, 0.8);
	transition: all 200ms;
	a {
		text-decoration: none;
		color: inherit;
		font-size: $bodyText-large-screen;
		font-family: $main-font;
	}
	&:hover {
		color: rgb(0, 238, 255);
		background-color: rgb(255, 255, 255);
	}
}

@media only screen and (max-width: 900px) {
	.home__header {
		h2 {
			font-size: $intro-small-screen;
		}
		h1 {
			font-size: $name-small-screen;
		}
		p {
			font-size: $bodyText-small-screen;
		}
	}
	.home__contact {
		a {
			font-size: $bodyText-small-screen;
		}
	}
}
