.home {
	@include content-styling;
	background: rgba(232, 160, 233, 0.103);
	border: 1px solid rgba(255, 255, 255, 0.18);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.home__header {
	margin-left: 10%;
	font-family: $main-font;
	h1:first-child {
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
	}
	h1 {
		font-size: 90px;
		margin: 0;
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
	}
	p {
		font-size: 25px;
		color: rgba(98, 99, 180, 0.616);
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
	}
	span {
		color: red;
	}
}
.home__contact {
	margin-left: 10%;
	width: 200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $highlight-icon;
	border-radius: 30px;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
	a {
		text-decoration: none;
		color: white;
		font-size: 18px;
		font-family: $main-font;
	}
}
