.home {
	@include right-side-style;
	@include right-side-structure;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0;
	border: none;
}
.home__header {
	font-family: $main-font;
	text-align: center;
	h2:first-child {
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
	}

	h2 {
		font-size: $intro-large-screen;
		margin: 0;
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
	}
	h1 {
		font-size: $name-large-screen;
		color: $main-titleColor;
		margin-bottom: -10px;
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
	}

	p {
		margin: 0;
		margin-bottom: 30px;
		font-size: $bodyText-large-screen;
		font-style: italic;
		color: $main-titleColor;
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
	}
	span {
		color: $main-highlightBlue;
	}
}
.home__contact {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $glass-brightPink;
	border: 2px solid $glass-brightPink;
	border-radius: 3vw;
	padding: 0.7vw 3vw;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s both;
	transition: all 150ms;
	a {
		color: inherit;
		text-decoration: none;
		font-size: $bodyText-large-screen;
		font-weight: 600;
	}
	&:hover {
		background-color: #ffffff;
		color: $glass-brightPink;
		// border: 2px solid rgb(246, 32, 250);
	}
}

@media only screen and (max-width: 960px) {
	.home__header {
		h2 {
			font-size: $intro-small-screen;
		}
		h1 {
			font-size: $name-small-screen;
		}
		p {
			font-size: $bodyText-small-screen;
		}
	}
	.home__contact {
		padding: 1vw 3vw;
		a {
			font-size: $bodyText-small-screen;
		}
	}
}
