@mixin right-side-style {
	background: rgba(62, 39, 71, 0.315);
	color: #ffffff;
	font-family: $main-font;
}
@mixin glass-styling {
}
@mixin page-header-structure {
	text-transform: capitalize;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	h1 {
		margin: 0;
		font-size: $h1-large-screen;
		font-weight: 7000;
		color: #c7d1ff;
	}
	border-bottom: 2px solid #c7d1ff;
}
@mixin right-side-structure {
	height: 100%;
	padding: 20px;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}
@mixin bodyTitle-style {
	font-size: $bodyTitle-large-screen;
	color: $main-titleColor;
	text-align: center;
	margin: 0;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}
@mixin bodyP-style {
	font-size: $bodyText-large-screen;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}
