@mixin content-styling {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	color: white;
}
@mixin content-grid-stepup {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 10% 90%;
	grid-gap: 0 15px;
	padding: 15px;
}
@mixin content-glass-style {
	background: $main-blurColor;
	box-shadow: 0 4px 16px 0 rgba(0, 0, 7, 0.493);
	border-radius: 10px;
}
@mixin header-container {
	grid-column: 1/3;
	margin-bottom: 10px;
	padding-left: 3%;
	text-transform: capitalize;
	text-align: center;
	font-style: italic;
}
@mixin title-h1-style {
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
	font-size: 70px;
	margin: 0;
	color: $main-titleColor;
}
@mixin body-p-style {
	font-size: 20px;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}
