.project {
	@include right-side-style;
	@include right-side-structure;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr 4fr 1fr;
	grid-gap: $work-grid-padding;
	.project__header,
	.project__link {
		@include glass-styling;
	}
	.project__header {
		@include page-header-structure;
		height: 100%;
	}
}
.project__grid {
	padding: $work-grid-padding;
	.project__gridItem {
		padding: 0 20px;
		h2 {
			font-size: $projectTitle-medium !important;
			color: $main-titleColor;
		}
		p {
			font-size: $projectBody-medium !important;
		}
		li {
			font-size: $projectList-medium !important;
		}
	}
}

.project__imgContainer {
	height: 100%;
	width: 100%;
	padding: 2vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 100%;
		max-width: 800px;
		height: 100%;
		max-height: 600px;
		border-radius: 5px;
	}
}

.project__link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	button {
		margin: 0 1vw;
		padding: 0.4vw 2vw;
		border-radius: 30px;
		font-size: $projectTitle-large;
		font-family: $main-font;
		font-weight: 600;
		background-color: $glass-brightPink;
		border: 2px solid $glass-brightPink;
		transition: all 200ms;
		color: white;
		&:hover {
			color: $glass-brightPink;
			background-color: #ffffff;
		}
	}
	a {
		text-decoration: none;
		text-align: center;
		color: white;
		padding: 0.4vw 2vw;
		font-size: $projectTitle-large;
		font-family: $main-font;
		font-weight: 600;
		background-color: $glass-brightPink;
		border: 2px solid $glass-brightPink;
		border-radius: 30px;
		transition: all 200ms;
		&:hover {
			color: $glass-brightPink;
			background-color: #ffffff;
		}
	}
}

.project__popper {
	color: white;
	border: 7px solid $main-titleColor;
	background-color: $main-bgColor;
	padding: 10px;
	height: 100%;
	span {
		color: $main-titleColor;
	}
	h5 {
		font-size: 1vw;
	}
}

@media only screen and (min-width: 1900px) {
	.project__grid {
		.project__gridItem {
			h2 {
				font-size: $projectTitle-large !important;
			}
			p {
				font-size: $projectBody-large !important;
			}
			li {
				font-size: $projectList-large !important;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.project__grid {
		.project__gridItem {
			h2 {
				font-size: $projectTitle-small !important;
			}
			p {
				font-size: $projectBody-small !important;
			}
			li {
				font-size: $projectList-small !important;
			}
		}
	}
	.project__link {
		a,
		button {
			font-size: $projectTitle-small;
		}
	}
}

@media only screen and (max-width: 960px) {
	.project {
		grid-template-rows: 100px 1fr 1fr 100px !important;
	}
	.project__header {
		h1 {
			font-size: $h1-small-screen !important;
		}
	}
	.project__grid {
		.project__gridItem {
			h2 {
				font-size: $projectTitle-Xsmall !important;
			}
			p {
				font-size: $projectBody-Xsmall !important;
			}
			li {
				font-size: $projectList-Xsmall !important;
			}
		}
	}
	.project__link {
		button {
			margin: 0 2vw;
		}
		a,
		button {
			font-size: $cardButton-small-screen;
			padding: 1vw 3vw;
		}
	}
	.project__popper {
		h5 {
			font-size: 2vw;
		}
	}
}
