.project {
	height: 100%;
	@include glass-styling;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr 4fr 1fr;
	grid-gap: $work-grid-padding;
	padding: $work-grid-padding;
	font-family: $main-font;
	.project__header,
	.project__link {
		@include glass-styling;
	}
	.project__header {
		@include page-header-structure;
		height: 100%;
	}
}
.project__grid {
	@include glass-styling;
	padding: $work-grid-padding;
	.project__gridItem {
		padding: 0 20px;
		h2 {
			font-size: $projectTitle-medium !important;
		}
		p {
			font-size: $projectBody-medium !important;
		}
		li {
			font-size: $projectList-medium !important;
		}
	}
}

.project__imgContainer {
	border: 3px solid green;
	// height: 500px;
	// width: 100%;
}

.project__link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	a {
		text-decoration: none;
		text-align: center;
		color: white;
		padding: 7px 25px;
		font-size: 18px;
		font-family: $main-font;
		border-radius: 30px;
		background-color: rgba(0, 238, 255, 0.432);
		border: 2px solid rgba(0, 238, 255, 0.432);
		transition: all 200ms;
		&:hover {
			color: rgb(0, 238, 255);
			background-color: rgb(255, 255, 255);
		}
	}
}

@media only screen and (min-width: 1900px) {
	.project__grid {
		.project__gridItem {
			h2 {
				font-size: $projectTitle-large !important;
			}
			p {
				font-size: $projectBody-large !important;
			}
			li {
				font-size: $projectList-large !important;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.project__grid {
		.project__gridItem {
			h2 {
				font-size: $projectTitle-small !important;
			}
			p {
				font-size: $projectBody-small !important;
			}
			li {
				font-size: $projectList-small !important;
			}
		}
	}
}

@media only screen and (max-width: 960px) {
	.project {
		grid-template-rows: 100px 1fr 1fr 100px !important;
	}
	.project__header {
		h1 {
			font-size: $h1-small-screen !important;
		}
	}
	.project__grid {
		.project__gridItem {
			h2 {
				font-size: $projectTitle-Xsmall !important;
			}
			p {
				font-size: $projectBody-Xsmall !important;
			}
			li {
				font-size: $projectList-Xsmall !important;
			}
		}
	}
}

// @media only screen and (max-width: 600px) {
// 	.project__grid {
// 		.project__gridItem {
// 			h2 {
// 				font-size: $projectTitle-Xsmall !important;
// 			}
// 			p {
// 				font-size: $projectBody-Xsmall !important;
// 			}
// 			li {
// 				font-size: $projectList-Xsmall !important;
// 			}
// 		}
// 	}
// }
