.sidebar {
	flex: $left-side-width;
	margin-right: 20px;
}
.sidebar__container {
	height: 100%;
	background: rgba(232, 160, 233, 0.103);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	.imgLink {
		display: flex;
		justify-content: center;
		margin-top: 10%;
		img {
			width: 125px;
			height: 125px;
		}
	}

	.sidebar__links {
		display: flex;
		flex-direction: column;
		height: 300px;
		display: flex;
		flex-direction: column;
		svg {
			margin-right: 10px;
		}
		a {
			border: 1px solid rgba(255, 255, 255, 0.18);
			border-right: 7px solid transparent;
			flex: 1;
			text-decoration: none;
			color: white;
			display: flex;
			align-items: center;
			padding-left: 25%;
			transition: all 200ms;
			font-family: $main-font;
			&:hover {
				background: $glass-lightPink;
				svg {
					color: $highlight-icon;
				}
			}
		}
		.selected {
			background: rgba(232, 160, 233, 0.219);
			border-right: 7px solid $glass-brightPink;
			svg {
				color: $highlight-icon;
			}
		}
	}
	.sidebar__iconLinks {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 10px;
		a {
			color: white;
			text-decoration: none;
			margin: 5px;
			transition: all 200ms;
			&:hover {
				color: $highlight-icon;
			}
		}
	}
}
