.sidebar {
	height: 100vh;
	position: sticky;
	top: 0px;
	align-self: flex-start;
	@include content-glass-style;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	margin-right: 10px;
	border-radius: 0;
}
.hide {
	position: absolute;
	top: 0;
	transform: translateX(-100%);
	// background: none;
	// backdrop-filter: none;
	// position: fixed;
	// right: 0;
	z-index: 10;
	// width: 80px;
}
.sidebar__container {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	.imgLink {
		display: flex;
		justify-content: center;
		margin-top: 10%;
		img {
			min-width: 80px;
			min-height: 80px;
			max-height: 175px;
			max-width: 175px;
		}
	}

	.sidebar__links {
		display: flex;
		flex-direction: column;
		height: 35vh;
		display: flex;
		flex-direction: column;

		a {
			position: relative;
			border-top: 1px solid rgba(255, 255, 255, 0.18);
			flex: 1;
			text-decoration: none;
			color: white;
			display: flex;
			align-items: center;
			padding-left: 3.5vw;
			transition: all 200ms;
			font-family: $main-font;
			&:hover {
				background: $glass-lightPink;
				svg {
					color: $highlight-icon;
				}
				.animated-bar {
					background-color: $glass-brightPink;
					height: 100%;
					transition: height 300ms;
				}
			}
			p {
				margin: 10px;
				font-size: $bodyText-large-screen;
			}
			svg {
				font-size: $bodyText-large-screen;
			}
		}
		a:last-child {
			border-bottom: 1px solid rgba(255, 255, 255, 0.18);
		}
		.selected {
			background: rgba(232, 160, 233, 0.219);
			svg {
				color: $highlight-icon;
			}
			.animated-bar {
				background-color: $glass-brightPink;
				height: 100%;
			}
		}
		.animated-bar {
			position: absolute;
			right: 0;
			height: 0;
			width: 7px;
		}
	}
	.sidebar__iconLinks {
		display: flex;
		flex-wrap: wrap;
		// flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 10px;
		a {
			display: block;
			color: white;
			text-decoration: none;
			margin: 10px;
			transition: all 200ms;
			&:hover {
				color: $highlight-icon;
			}
			svg {
				width: $sidebarIcon-size;
				height: $sidebarIcon-size;
			}
		}
	}
}
