.skills {
	@include right-side-style;
	@include right-side-structure;
	border-radius: 0;
}
.skills__header {
	@include glass-styling;
	@include page-header-structure;
}
.skills__grid {
	height: 90%;
	padding-top: 20px;
	.skills__item {
		padding-right: 0;
		padding-left: 10px;
		h1 {
			@include bodyTitle-style;
		}
		p {
			font-size: $bodyText-large-screen;
		}
	}
	.skills__item:first-child {
		padding-left: 0px;
		padding-right: 10px;
	}

	.description__body {
		animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
	}
}

.skills__container {
	height: 100%;
	padding: 30px 3vw;
	.icon__container {
		// @include content-glass-style;
		background: $icon-bgColor;
		width: 8vw;
		height: 8vw;
		margin: 10px;
		padding: 30px;
		// border: 2px solid lightblue;
		border-radius: $border-radius;
		animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
	}
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.skills__icons {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

@media only screen and (max-width: 1280px) {
	.skills__description {
		h1 {
			font-size: $bodyTitle-middle-screen;
		}
		p {
			font-size: $bodyText-middle-screen;
		}
	}
	.skills__container {
		.icon__container {
			width: 9vw;
			height: 9vw;
		}
	}
}

@media only screen and (max-width: 960px) {
	.skills {
		height: auto;
	}
	.skills__header {
		height: 120px;
		h1 {
			font-size: $h1-small-screen;
		}
	}
	.skills__item {
		padding: 0 !important;

		h1 {
			font-size: $bodyTitle-small-screen !important;
		}
		p {
			font-size: $bodyText-small-screen !important;
		}
	}
	.skills__item:first-child {
		padding-bottom: 20px !important;
	}
	.skills__container {
		padding: 30px 5vw;
		.icon__container {
			width: 15.5vw;
			height: 15.5vw;
		}
	}
}
