.fade-enter {
	opacity: 0;
	animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
		both;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 0.5s 0.5s;
}

.fade-exit {
	border: 5px solid green;
	opacity: 1;
	position: absolute;
	top: 0;
	// height: 100%;
	// right: 0;
	// z-index: -1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 0.5s;
}
