.work {
	@include right-side-style;
	@include right-side-structure;
	border-radius: 0;
	.work__header {
		@include glass-styling;
		@include page-header-structure;
	}
}

.work__grid {
	height: 90%;
	padding-top: $work-grid-padding;
	.work__item:nth-child(1) {
		padding-right: calc(#{$work-grid-padding/ 2});
	}
	.work__item:nth-child(2) {
		padding: 0 calc(#{$work-grid-padding/ 2});
	}
	.work__item:nth-child(3) {
		padding-left: calc(#{$work-grid-padding/ 2});
	}
}

.projectCard {
	animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
		both;
	height: 100%;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.projectCard__imgContainer {
		width: 100%;
		height: $cardImg-height-medium;
		margin: 0 auto;
		margin-bottom: 10px;
		border-radius: $border-radius;
		img {
			object-fit: cover;
			object-position: left;
			height: 100%;
			width: 100%;
			border-radius: $border-radius;
		}
	}
	.projectCard__description {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		flex: 1;
		h1 {
			text-align: center;
			color: $main-titleColor;
			font-size: $cardTitle-large-screen;
			margin: 0;
		}
		p {
			font-size: $cardBody-large-screen;
			margin: 10px 0;
		}
		h3 {
			color: $main-titleColor;
			text-align: center;
			letter-spacing: 1px;
			margin: 0;
			font-size: $cardTools-large-screen;
		}
		.tools {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			margin: 20px 0;
		}
		.icon {
			width: $cardIcon-large-screen;
			height: $cardIcon-large-screen;
			background-color: rgba(0, 0, 0, 0.685);
			border-radius: $border-radius;
			padding: 15px;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	.buttons {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		a {
			width: 100%;
			text-decoration: none;
			text-align: center;
			color: white;
			padding: 0.4vw 0;
			font-size: $cardButton-large-screen;
			font-family: $main-font;
			font-style: italic;
			font-weight: 600;
			background-color: $glass-brightPink;
			border: 2px solid $glass-brightPink;
			border-radius: 30px;
			transition: all 100ms;
			&:hover {
				color: $glass-brightPink;
				background-color: #ffffff;
			}
		}
	}
}

@media only screen and (min-width: 1900px) {
	.projectCard__imgContainer {
		height: $cardImg-height-large !important;
	}
}
@media only screen and (max-width: 1280px) {
	.work {
		height: auto;
	}
	.work__header {
		min-height: 85px;
	}
	.work__grid {
		.work__item:nth-child(2) {
			padding-right: 0;
		}
		.work__item:nth-child(3) {
			padding-left: 0;
			padding-top: $work-grid-padding;
		}
	}
}

@media only screen and (max-width: 960px) {
	.work__header {
		h1 {
			font-size: $h1-small-screen !important;
		}
	}
	.work__grid {
		.work__item:nth-child(1) {
			padding-right: 0;
		}
		.work__item:nth-child(2) {
			padding-left: 0;
			padding-top: $work-grid-padding;
		}
	}
	.projectCard__description {
		h1 {
			font-size: $cardTitle-small-screen !important;
		}
		p {
			font-size: $cardBody-small-screen !important;
		}
		h3 {
			font-size: $cardTools-small-screen !important;
		}
		.icon {
			width: $cardIcon-small-screen !important;
			height: $cardIcon-small-screen !important;
		}
	}
	.buttons {
		a {
			padding: 10px 0 !important;
			font-size: $cardButton-small-screen !important;
		}
	}
	.projectCard__imgContainer {
		height: $cardImg-height-small !important;
	}
}
