.work {
	@include content-styling;
	background-color: $main-blurColor;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	// backdrop-filter: blur(6px);
	// -webkit-backdrop-filter: blur(6px);
	display: grid;
	grid-template-columns: repeat(1fr);
	grid-template-rows: 10% 90%;
	grid-gap: 0 15px;
	padding: 15px;
	font-family: $main-font;
	.work__header {
		@include content-glass-style;
		grid-column: 1/4;
		margin-bottom: 10px;
		padding-left: 3%;
		text-transform: capitalize;
		font-style: italic;
	}
}

.projectCard {
	@include content-glass-style;
	animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
		both;
	height: 100%;
	padding: 30px;
	.projectCard__imgContainer {
		width: 300px;
		height: 250px;
		margin: 0 auto;
		border-radius: 10px;
		img {
			object-fit: cover;
			object-position: left;
			height: 100%;
			width: 100%;
			border-radius: 10px;
		}
	}
	h1 {
		text-align: center;
		color: $main-titleColor;
	}
	.projectCard__buttons {
		border: 1px solid red;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			color: white;
			padding: 7px 25px;
			font-size: 18px;
			font-family: $main-font;
			border-radius: 30px;
			background-color: rgba(0, 238, 255, 0.432);
			border: 2px solid rgba(0, 238, 255, 0.432);
			transition: all 100ms;
			&:hover {
				color: rgb(0, 238, 255);
				background-color: rgb(255, 255, 255);
			}
		}
	}
}
